/*==================================================
 PROFIL.CSS
 COMMUNAUTÉ NUMÉRIQUE MWANA MBOKA
==================================================*/


*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:'Poppins',Arial,sans-serif;
}


body{

background:#f4f6f8;

color:#222;

}


.container{

width:100%;

min-height:100vh;

}





/* HEADER */

.header{

display:flex;

justify-content:space-between;

align-items:center;

background:#009245;

color:white;

padding:15px 25px;

}



.logo-zone{

display:flex;

align-items:center;

gap:15px;

}



.logo-zone img{

width:70px;

height:70px;

border-radius:50%;

background:white;

padding:5px;

}



.logo-zone h1{

font-size:22px;

}



.logo-zone p{

font-size:14px;

}



.back{

background:white;

color:#009245;

padding:10px 15px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

}






/* CONTENU */

.profil-content{

max-width:900px;

margin:30px auto;

padding:15px;

}




/* CARTE PROFIL */

.profil-card{

background:white;

border-radius:20px;

padding:30px;

display:flex;

gap:30px;

align-items:center;

box-shadow:0 5px 20px #0002;

}



.photo-zone{

text-align:center;

}



.photo-zone img{

width:160px;

height:160px;

border-radius:50%;

object-fit:cover;

border:5px solid #009245;

}



.photo-zone button{

margin-top:15px;

padding:12px 20px;

border:none;

background:#009245;

color:white;

border-radius:10px;

cursor:pointer;

}





.infos h2{

color:#009245;

margin-bottom:15px;

}



.infos p{

margin:12px 0;

font-size:16px;

}





/* MODIFICATION */

.edit-card{

background:white;

margin-top:25px;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px #0002;

}



.edit-card h2{

color:#009245;

margin-bottom:20px;

}



.edit-card label{

display:block;

margin-top:15px;

font-weight:bold;

}



.edit-card input{

width:100%;

padding:12px;

margin-top:5px;

border:1px solid #ccc;

border-radius:10px;

}



#btnSauver{

margin-top:25px;

background:#009245;

color:white;

border:none;

padding:14px 25px;

border-radius:12px;

font-size:16px;

cursor:pointer;

}



#btnSauver:hover,
.photo-zone button:hover{

opacity:.85;

}




/* MESSAGE */

#message{

margin-top:20px;

padding:12px;

text-align:center;

border-radius:10px;

}



.success{

background:#d4edda;

color:#155724;

}


.error{

background:#f8d7da;

color:#721c24;

}




/* FOOTER */


footer{

text-align:center;

background:#009245;

color:white;

padding:25px;

margin-top:40px;

}




/* MOBILE */


@media(max-width:700px){


.profil-card{

flex-direction:column;

text-align:center;

}


.header{

flex-direction:column;

gap:15px;

}


.logo-zone h1{

font-size:18px;

}


}
